//Color

$base-color: rgb(64, 64, 64);

$light-color: rgb(255, 255, 255);

$head-color: rgb(38, 38, 38);

$stack-color: rgb(3, 169, 245);

$bg-color: rgb(36, 42, 64);


//Font-size


//Font-Family

$PNL: 'ProximaNova-Light', sans-serif;

$PNR: 'ProximaNova-Regular', sans-serif;

$PNSB: 'ProximaNova-Semibold', sans-serif;

$PNB: 'ProximaNova-Bold', sans-serif;