<footer class="footer">
	<div class="container">
		<div class="personal-information">
			ИП Райз Д.А.<br>
			ИНН 780728430305<br>
			ОГРНИП 316784700266917
		</div>
		<div class="copyright">
			<span>&copy; 2016 – 2017 «Omni Brains»</span>
			<a href="#">Политика конфиденциальности</a>
		</div>
		<button id="scrollUp">Наверх</button>
	</div>
</footer>
<form id="modal-form">
	<div class="heading">Заказ услуг</div>
	<span class="form-close"></span>
	<label for="input-name">Имя
		<input id="input-name" type="text" name="name" placeholder="" required>
	</label>
	<label for="input-mail">E-mail
		<input id="input-mail" type="email" name="email" placeholder="" required>
	</label>

	<label for="input-phone">Телефон
		<input id="input-phone" type="tel" name="phone" value="" placeholder="">
	</label>

	<button class="btn btn-extra-large" type="submit">Оставить заявку</button>
</form>
<div id="overlay"></div>