<footer class="footer">

</footer>
<form id="modal-form">
	<div class="heading">Заказ услуг</div>
	<span class="form-close"></span>
	<label for="input-name">Имя
		<input id="input-name" type="text" name="name" placeholder="" required>
	</label>
	<label for="input-mail">E-mail
		<input id="input-mail" type="email" name="email" placeholder="" required>
	</label>

	<label for="input-phone">Телефон
		<input id="input-phone" type="tel" name="phone" value="">
	</label>

	<button class="btn btn-extra-large" type="submit">Оставить заявку</button>
</form>
<div id="overlay"></div>