<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="header-logo">
				<a href="#" class="logo">omni<span>brains</span></a>
			</div>
			<div class="header-navigation">
				<ul class="nav">
					<li><a href="#">о нас</a></li>
					<li><a href="#">кейсы</a></li>
					<li><a href="#">услуги</a></li>
					<li><a href="#">гарантии</a></li>
				</ul>
				<div class="header-callback">
					<span class="phone">+7 (495) 266-32-52</span>
					<a href="#" class="order">Заказать обратный звонок</a>
				</div>
				<h3 id="menu-toggle">Menu</h3>
				<ul id="menu">
					<li><a href="#">о нас</a></li>
					<li><a href="#">кейсы</a></li>
					<li><a href="#">услуги</a></li>
					<li><a href="#">гарантии</a></li>
				</ul><!--end-mobile-menu-->
			</div>
		</div>
		<div class="header-base">
			<div class="header-slogan pull-right">
				<div class="slogan">Разрабатываем стратегии
					и настраиваем контекстную рекламу для малого и среднего бизнеса</div>
				<button class="btn btn-extra-large hid-768 order">стать нашим клиентом</button>
			</div>
			<div class="header-animation pull-left">
				<div class="application-costs">
					<div class="name">стоимость заявки</div>
					<div class="price">400</div>
					<div class="indicator"></div>
					<div class="descript">Правильная стратегия -
						поможет уменьшить
						расходы на рекламу.</div>
				</div>
				<div class="number-of-applications">
					<div class="name">кол-во заявок</div>
					<div class="amount">12</div>
					<div class="indicator"></div>
					<div class="descript">Контекстная реклама -
						увеличит кол-во обращений,
						звонков и продаж.</div>
				</div>
			</div>
		</div>
		<button class="btn btn-extra-large show-768 order">стать нашим клиентом</button>
		<div class="header-descript">
			<span>Ниже можно почитать подробнее о нас и ознакомиться с нашими кейсами</span>
			<a href="#skins" class="arrow-down"><img src="../img/arrow-down.png" alt="arr-down"></a>
		</div>
	</div>
</header>